Sphinx~=4.2.0
readthedocs-sphinx-ext~=2.1.4
sphinx-rtd-theme~=1.0.0
git+https://github.com/LeMyst/sphinx-github-changelog.git@1.0.8-Sphinx-4.2.0#egg=sphinx_github_changelog
m2r2~=0.3.1
sphinx-autodoc-typehints~=1.12.0
