name: Python Code Quality and Lint

on:
  push:
    branches: [ master ]
    paths:
      - 'wikibaseintegrator/**.py'
      - 'test/**.py'
  pull_request:
    branches: [ '**' ]
    paths:
      - 'wikibaseintegrator/**.py'
      - 'test/**.py'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.1

      - name: Set up Python 3.12
        uses: actions/setup-python@v4.8.0
        with:
          python-version: '3.12'

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-

      - name: Upgrade setup tools
        run: |
          python -m pip install --upgrade pip setuptools

      - name: Install dependencies
        run: |
          python -m pip install .[dev]

      - name: isort imports check
        run: |
          python -m isort --check --diff wikibaseintegrator test

      - name: mypy typing check
        run: |
          python -m mypy --install-types --non-interactive

      - name: pylint code linting
        run: |
          python -m pylint wikibaseintegrator test || pylint-exit $?

      - name: codespell spell checking
        run: |
          codespell wikibaseintegrator test

      - name: flynt string formatter converting
        run: |
          python -m flynt -f wikibaseintegrator test
