name: Python Code Quality and Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up Python 3.10
        uses: actions/setup-python@v2.3.1
        with:
          python-version: '3.10'
      - name: Cache pip
        uses: actions/cache@v2.1.7
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-
      - name: Upgrade setup tools
        run: python -m pip install --upgrade pip setuptools
      - name: Install dependencies
        run: pip install .[dev]
      - name: isort imports check
        run: isort --check --diff wikibaseintegrator test
      - name: mypy typing check
        run: mypy --install-types --non-interactive
      - name: pylint code linting
        run: pylint wikibaseintegrator test || pylint-exit $?
